<!doctype html>
<html lang="en-us">
<head>
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="//cdn.muicss.com/mui-0.4.7/css/mui.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- the confluence web components js -->
    <script src="/dist/confluence-web-components-flatpack.js"></script>

    <!-- some custom styles for this theme -->
    <link href="/public/themes/material-design/css/connect-material.css" rel="stylesheet" type="text/css"/>

    <!-- the required connect all.js -->
    <script src="{{hostScriptUrl}}"></script>
    <title>{{title}}</title>
</head>
<body>
    <div>
        <div id="sidedrawer" class="mui--no-user-select">
            <nav id="sidenav">
                <div class="mui--divider-bottom">
                    <h2 class="mui--appbar-line-height"><a href="{{xdm_e}}{{cp}}" target="_top">Confluence</a></h2>
                </div>
                <ul>
                    <li>
                        <strong>Spaces</strong>
                        <confluence-space-list tag-name="ul"></confluence-space-list>
                    </li>
                    <li>
                        <strong>Pages</strong>
                        <confluence-content-list tag-name="ul" cql="type=page and space={{spaceKey}} order by created"></confluence-content-list>
                    </li>
                </ul>
            </nav>
        </div>
        <header id="header">
            <div class="mui-appbar mui-container-fluid">
                <table width="100%">
                    <tbody>
                    <tr class="mui--appbar-height">
                        <td>
                            <a class="sidedrawer-toggle js-toggle-sidedrawer">☰</a>
                            <a class="appbar-brand" href="{{xdm_e}}{{cp}}/display/{{spaceKey}}" target="_top"><confluence-space-title tag-name="span" space-key={{spaceKey}}></confluence-space-title></a>
                            <i class="material-icons" style="position:relative; top:5px">keyboard_arrow_right</i>
                            <a class="appbar-brand"><confluence-content-title tag-name="span" content-id={{pageId}}></confluence-content-title></a>
                        </td>
                        <td class="mui--text-right">
                            <a href="{{xdm_e}}{{cp}}/pages/edit{{contentType}}.action?pageId={{pageId}}"><i class="material-icons">mode_edit</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </header>
        <div id="content-wrapper">
            <div class="mui--appbar-height"></div>
            <div class="mui-container">
                <div class="mui-panel" style="margin-top:20px">
                    <confluence-content-body content-id={{pageId}}></confluence-content-body>
                    <div class="mui-row">
                        <div class="mui-col-md-1"></div>
                        <div class="mui-col-md-10">
                            <h3>Comments</h3>
                            <confluence-comment-list
                                content-id={{pageId}}
                                container-tag-name="div"
                                item-tag-name="div"
                                comment-class-name="mui-panel"
                            ></confluence-comment-list>
                        </div>
                        <div class="mui-col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function() {
            function toggleDrawer() {
                document.querySelector('body').classList.toggle('hide-sidedrawer');
            }

            document.querySelector('.js-toggle-sidedrawer').addEventListener('click', toggleDrawer);
        })();
    </script>
</body>
</html>
