{{!< ../layout}}
<h3>&lt;confluence-content-body&gt;</h3>
<p>Renders the HTML content for a piece of content (e.g. page or blogpost). This does not include the content title or comments.</p>
<h4>Attributes</h4>
<p>
    <strong>content-id* {number}</strong> - The ID of the content to render. This parameter is required.
</p>
<div class="web-component-example">
    <div class="web-component-output">
        <confluence-content-body content-id="98308" />
    </div>
    <div class="web-component-code">
        <pre>&lt;confluence-content-body content-id="98308" /&gt;</pre>
    </div>
</div>
