<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <script src="{{hostScriptUrl}}" type="text/javascript"></script>
    <script src="/dist/confluence-web-components-flatpack.js"></script>
    <style>
        body {
            font-family:'Helvetica', sans-serif;
            background-color: #fff;
        }

        .page-header {
            background:url('public/prague-panorama.jpg') no-repeat center center;
            background-size: 100% auto;
            height:230px;
            background-color:#000;
        }

        .container {
            margin:0 auto;
        }

        confluence-content-title h2 {
            margin-bottom:0;
        }

        confluence-space-title h3 {
            color:#999;
            margin-top:0;
        }

        confluence-content-list {
            float:left;
            width:30%;
            font-size:16px;
        }

        confluence-content-list ol {
            list-style:none;
            padding-left:30px;
        }

        confluence-content-list ol a {
            color:#3572b0;
            text-decoration:none;
        }

        confluence-comment-list {
            float:right;
            width:20%;
        }

        confluence-comment-list p {
            margin: 0
        }

        confluence-comment-list ol {
            list-style-type:none;
            padding:0;
            float:left;
        }

        confluence-comment-list ol li {
            background-color: #eee;
            border-radius:6px;
            padding:10px 0;
            float:left;
            width:100%;
            margin-bottom:10px;
        }

        confluence-comment-list ol li .comment-header {
            display:none;
        }

        confluence-comment-list ol li .comment-body {
            float:left;
        }

        confluence-comment-list img {
            width:32px;
            height:32px;
            border-radius:2px;
            float:left;
            margin:0 10px;
        }
    </style>
</head>
<body>
    <div class="page-header"></div>
    <div class="container">
        <confluence-content-list container-class="nav nav-pills nav-stacked"></confluence-content-list>
        <div style="float:left; width:50%;">
            <confluence-content-title tag-name="h2"></confluence-content-title>
            <confluence-space-title tag-name="h3"></confluence-space-title>
            <confluence-content-body content-id="98308"></confluence-content-body>
        </div>
        <confluence-comment-list content-id="98308"></confluence-comment-list>
    </div>
    <script>
        var currentContentId = 98308;

        function editCurrentContent() {
            AP.require('navigator', function(navigator) {
                navigator.go('contentedit', {
                    contentId: currentContentId
                });
            });
        }

        AP.require('request', function(request) {
            request({
                url: '/rest/api/space',
                success: function(response) {
                    var firstSpaceKey = JSON.parse(response).results[0].key;
                    document.querySelector('confluence-space-title').setAttribute('space-key', firstSpaceKey);
                    document.querySelector('confluence-content-title').setAttribute('content-id', currentContentId);
                    document.querySelector('confluence-content-list').setAttribute('space-key', firstSpaceKey);
                }
            });
        });

        document.querySelector('confluence-content-list').addEventListener('navigate', function(event) {
            currentContentId = event.detail.contentId;
            document.querySelector('confluence-content-body').setAttribute('content-id', currentContentId);
            document.querySelector('confluence-comment-list').setAttribute('content-id', currentContentId);
            document.querySelector('confluence-content-title').setAttribute('content-id', currentContentId);
            event.preventDefault();
        });
    </script>
</body>
</html>
